<div class="container" id="profileContainer">
    <span class="close-xmark" id="closeProfileBtn">&times;</span> <!-- Close X Mark -->
    <h2>User Profile</h2>

    <div class="profile-detail">
        <span class="profile-label">userName:</span>
        <span class="profile-value">{{ user?.userName }}</span>
    </div>

    <div class="profile-detail">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{ user?.email }}</span>
    </div>

    <div class="profile-detail">
        <span class="profile-label">Addresses:</span>
        <div id="addressList" class="address-list">
            <div class="address-item">{{ user?.address }}</div>
        </div>
    </div>
</div>
