<div class="container" id="profileContainer">
    <span class="close-xmark" id="closeProfileBtn">&times;</span> <!-- Close X Mark -->
    <h2>User Profile</h2>

    <div class="profile-detail">
        <span class="profile-label">userName:</span>
        <span class="profile-value">jonty rhodes</span>
    </div>

    <div class="profile-detail">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{this.email}}</span>
    </div>

    <div class="profile-detail">
        <span class="profile-label">Addresses:</span>
        <div id="addressList" class="address-list">
            <div class="address-item">southafrica</div>
        </div>
    </div>
</div>
