<div *ngIf="cartItems.length === 0" class="empty-cart" style="text-align: center; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 10px;">
  <p style="font-size: 18px; color: #555;">Your cart is empty!</p>
  <img src="https://www.ikea.com/in/en/shoppingcart/assets/frakta-bag-D52_GDvj.png" style="width: 150px; height: auto; margin-top: 10px;">
</div>

<div *ngIf="cartItems.length > 0" class="cart-container">
  <h3>Your Order Summary</h3>
  <table class="order-summary-table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.productId }}</td>
        <td>{{ productsMap.get(item.productId)?.productName || 'Unknown' }}</td>
        <td>{{ productsMap.get(item.productId)?.unitPrice | currency:'INR' }}</td>
        <td>{{ item.quantity }}</td>
        
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="summary-label">Total:</td>
        <td>{{ totalQuantity }}</td>
        <td>{{ totalPrice | currency:'INR' }}</td>
      </tr>
    </tfoot>
  </table>
  
  <button class="checkout-btn" (click)="checkout()">Place Order</button>
</div>
