.h1,h2, h3 {
    font-weight: bold;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  
  p.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .img-fluid {
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .btn-primary {
    background-color: #0058a3;
    border-color: #0058a3;
  }
  
  .btn-primary:hover {
    background-color: #004080;
    border-color: #004080;
  }
  