.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    
}

.nav-link {
    font-size: 1.1em;
    margin-right: 10px;
}

.nav-link:hover {
    color: #26b0eb !important;
}
