
  

<div class="dashboard-container">
    <h2>IKEA PRODUCTS</h2>
  
    <form (ngSubmit)="addProduct()" class="product-form">
      <input [(ngModel)]="newProduct.productName" placeholder="Product Name" class="form-input" name="name" required>
      <input [(ngModel)]="newProduct.description" placeholder="Description" class="form-input" name="Description" required>
      <input [(ngModel)]="newProduct.unitPrice" placeholder="Product Price" class="form-input" name="price" required>
      <input [(ngModel)]="newProduct.category" placeholder="Product Category" class="form-input" name="category" required>
      <input [(ngModel)]="newProduct.stockQuantity" placeholder="Stock Quantity" class="form-input" name="stockQuantity" type="number" required>
      <input [(ngModel)]="newProduct.imageURL" placeholder="Image URL" class="form-input" name="imageUrl" required>
      
    </form>
    <button type="submit" class="form-button">{{ newProduct.productId === 0 ? 'Add Product' : 'Update Product' }}</button>
    <br/>
    <button (click)="loadProducts()" class="form-button">Get Products</button>
  
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.imageURL" alt="{{ product.productName }}" class="product-image" />
        <div class="product-details">
          <p style="font-weight: bolder;"><strong></strong> {{ product.productName }}</p>
          <p><strong></strong> {{ product.description }}</p>
          <p class="price"><strong></strong> {{ product.unitPrice | currency:'INR' }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Stock Quantity:</strong> {{ product.stockQuantity }}</p>
        </div>
        <div class="product-actions">
          <button (click)="editProduct(product)" class="btn-edit">Edit</button>
          <button (click)="deleteProduct(product.productId)" class="btn-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
  