body {
  font-family: 'Noto Sans', sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text {
  display: flex;
  align-items: center;
  gap: 1px; /* Adjust the gap as needed */
}

.ikea-logo {
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

.text h1 {
  margin: 0;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-color: white;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.form-input {
  flex: 1 1 calc(33.333% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.form-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #0057AD;
  color: white;
  border-radius: 50px;
  border-color: black;
  cursor:pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure 4 columns */
  gap: 20px;
  border-color: white;
  background-color: white;
}

.product-card {
  border: white;
  padding: 20px;
  background-color: #fff;
  border-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.product-card:hover{
  background-color: ghostwhite;
  cursor:pointer;
}

.product-image {
  width: 200px; 
  height: 200px; 
  
}

.product-details {
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.product-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: x-large;
  font-weight: bolder;
}

.btn-edit, .btn-delete {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 50px;
  
}

.btn-edit {
  background-color: #0057AD;
  color: white;
  border-radius: 50px;
}

.btn-delete {
  background-color: white;
  color: black;
  border-color: black;
}

footer {
  text-align: center;
  margin-top: 20px;
}
