
<nav class="navbar">
    <!-- IKEA Logo on the left -->
    <div class="navbar-logo">
        <img src="https://www.ikea.com/global/assets/logos/brand/ikea.svg" alt="IKEA Logo">
    </div>

    <!-- Links with Outlined Icons on the right side -->
    <ul class="navbar-links">
        <li><a routerLink="/" routerLinkActive="active"><span class="material-icons-outlined">home</span> Home</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active"><span class="material-icons-outlined">photo_library</span> Gallery</a></li>
        <li><a routerLink="/products" routerLinkActive="active"><span class="material-icons-outlined">shopping_basket</span> Products</a></li>
        <li><a routerLink="/account" routerLinkActive="active"><span class="material-icons-outlined">person</span> Account</a></li>
        <li><a routerLink="/profile" routerLinkActive="active"><span class="material-icons-outlined">account_circle</span> Profile</a></li>
        <li><a routerLink="/cart" routerLinkActive="active"><span class="material-icons-outlined">shopping_cart</span> Cart</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>